body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-form {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.password-toggle {
    cursor: pointer;
    margin-left: 10px;
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
}